<template>

  <footer class="new_footer_area bg_color shadow">
        <div class="new_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                      <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                          <h3 class="f-title f_600 t_color f_size_18">Города</h3>
                          <ul class="list-unstyled f_list">
                              <li><a href="#">Астана</a></li>
                              <li><a href="#">Алматы</a></li>
                              <li><a href="#">Кокшетау</a></li>
                          </ul>
                      </div>
                    </div>


                    <div class="col-sm-2">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Компания</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Контакты</a></li>
                                <li><a href="#">Стать партнером</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
  </footer>


</template>

<script>
  export default {
    name: 'footerdel',
    data () {
      return {
        msg: ''
      }
    }
  }
</script>

<style scoped>
/*Footer style*/
  body {
      background: #fbfbfd;
      height: 100%;
  }

  .new_footer_area {
      background: #f8f9fa !important;
  }


  .new_footer_top {
      padding: 30px 0px 230px;
      position: relative;
        overflow-x: hidden;
  }
  .new_footer_area .footer_bottom {
      padding-top: 5px;
      padding-bottom: 50px;
  }
  .footer_bottom {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      color: #7f88a6;
      padding: 27px 0px;
  }
  .new_footer_top .company_widget p {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #6a7695;
      margin-bottom: 20px;
  }
  .new_footer_top .company_widget .f_subscribe_two .btn_get {
      border-width: 1px;
      margin-top: 20px;
  }
  .btn_get_two:hover {
      background: transparent;
      color: #5e2ced;
  }
  .btn_get:hover {
      color: #fff;
      background: #6754e2;
      border-color: #6754e2;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
      text-decoration: none;
      outline: none;
  }



  .new_footer_top .f_widget.about-widget .f_list li a:hover {
      color: #5e2ced;
  }
  .new_footer_top .f_widget.about-widget .f_list li {
      margin-bottom: 11px;
  }
  .f_widget.about-widget .f_list li:last-child {
      margin-bottom: 0px;
  }
  .f_widget.about-widget .f_list li {
      margin-bottom: 15px;
  }
  .f_widget.about-widget .f_list {
      margin-bottom: 0px;
  }
  .new_footer_top .f_social_icon a {
      width: 44px;
      height: 44px;
      line-height: 43px;
      background: transparent;
      border: 1px solid #e2e2eb;
      font-size: 24px;
  }

  .btn_get_two {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #5e2ced;
      border-color: #5e2ced;
      color: #fff;
  }

  .btn_get_two:hover {
      background: transparent;
      color: #5e2ced;
  }

  .new_footer_top .f_social_icon a:hover {
      background: #5e2ced;
      border-color: #5e2ced;
    color:white;
  }
  .new_footer_top .f_social_icon a + a {
      margin-left: 4px;
  }
  .new_footer_top .f-title {
      margin-bottom: 30px;
      color: #263b5e;
  }
  .f_600 {
      font-weight: 600;
  }
  .f_size_18 {
      font-size: 18px;
  }
  h1, h2, h3, h4, h5, h6 {
      color: #4b505e;
  }
  .new_footer_top .f_widget.about-widget .f_list li a {
      color: #6a7695;
  }


  .new_footer_top .footer_bg {
      position: absolute;
      bottom: 0;
      background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
      width: 100%;
      height: 266px;
  }

  .new_footer_top .footer_bg .footer_bg_one {
      background: url("https://media.giphy.com/media/LpW8NlEe3KBlXoLpXd/giphy.gif") no-repeat center center;
      width: 100px;
      height: 105px;
    background-size:100%;
      position: absolute;
      bottom: 0;
      left: 30%;
      -webkit-animation: myfirst 22s linear infinite;
      animation: myfirst 22s linear infinite;
  }


  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
</style>
