<template>

  <!--Navbar section-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm" v-bind:class="{'navbarOpen':show}">

    <router-link class="navbar-brand" :to="{name: 'Menu'}">Наша Доставка</router-link>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" @click.stop="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" v-bind:class="{ 'show': show }">

      <ul class="navbar-nav mr-auto row">

        <li class="nav-item">
          <a class="nav-link" href="#">Бизнесу<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Курьерам<span class="sr-only">(current)</span></a>
        </li>

      </ul>

      <button class="btn btn-outline-link my-2" data-toggle="modal" data-target="#shoppingCart" @click.prevent="showCart">Корзина</button>

    </div>

  </nav>


</template>

<script>
  export default {
    name: 'navdel',
    data () {
      return {
        msg: '',
        show: true
      }
    },
    methods: {
      toggleNavbar(){
        this.show = !this.show;
      },

      showCart(){
       this.$modal.show('shopCart');
      },
      hideCart(){
        this.$modal.hide('shopCart');
      }
    }
  }
</script>

<style>

  .navbar{
    padding: 20px;
  }

</style>
