<template>

  <div class="container">
      <div class="row">
          <div class="col-12 align-self-center">
              <div class="card card-body preview_products">
                  <p class="card-text preview_text_mini">
                    Доставка еды &middot; Кокшетау
                  </p>
                  <p class="card-text preview_text">
                    Доставка еды
                    <br> в Кокшетау
                  </p>
               </div>
          </div>
      </div>

      <!--Product Toolbar-->
      <div class="btn-group btn-block prod_toolbar" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-outline-link">Все</button>
        <button type="button" class="btn btn-outline-link">Продукты</button>
        <button type="button" class="btn btn-outline-link">Рестораны</button>
        <button type="button" class="btn btn-outline-link">Медикаменты</button>
        <button type="button" class="btn btn-outline-link">Уборка</button>
        <button type="button" class="btn btn-outline-link">Гигиена</button>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-outline-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Еще
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div>
      </div>

      <hr>


  </div>

</template>

<script>
  export default {
    name: 'prod-preview',
    data () {
      return {
        msg: ''
      }
    }
  }
</script>

<style scoped>

  /*Products preview*/
  div.container{
    margin-top: 15px;
    margin-bottom: 15px;
  }


  div.preview_products{
    height: 300px;
    background-image: url("https://i.pinimg.com/originals/cd/e0/20/cde02007f55e0e63ff230909d35325d8.jpg");
    background-position: 100%;
    background-size: cover;
    opacity: 80%;
  }

  .preview_text{
    font-size: 40px;
    color: white;
  }

  .preview_text_mini{
    color: white;
  }

  /*Product toolbar*/
  .prod_toolbar{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  button.more{
    margin-top: 30px;
  }

</style>
