<template>
    <div id="product">
        <div class="card">
            <div class="card-header bg-transparent border-info" id="title"><b class="card-title">{{item.title}}</b></div>
            <img class="card-img-top" src="https://noodoll.com/media/catalog/product/cache/025a5d916fb96a59caad962d9ea38482/r/i/ricecarrot_24bottle_noodoll_waterbottle_front.jpg" alt="Product">
            <div class="card-footer bg-transparent border-0 row">
                <p class="card-text col-8">{{item.price}} тенге</p>
                <button class="btn btn-sm btn-outline-info col-4" @click="$emit('add-to-cart')">Купить</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Product",
        props: {
            item: Object
        },
        data () {
            return {
                msg: 'Product'
            }
        },
        mounted() {
            this.$emit('add-to-cart', this.item);
        }
    }
</script>

<style scoped>
    #product{
        margin-bottom: 20px;
    }

</style>