<template>

  <div class="col-4 align-self-center">
      <div class="card shadow-sm shop_card">
          <img class="card-img-top" src="https://media-cdn.tripadvisor.com/media/photo-s/17/ba/a6/31/burger.jpg" alt="Product">
          <div class="card-body">
              <b class="card-title">Название</b>

          </div>
      </div>
  </div>

</template>

<script>
  export default {
    name: 'shop',
    data () {
      return {
        msg: 'shop'
      }
    }
  }
</script>

<style scoped>
  div.shop_card{
    transition: all .2s ease-in-out;
    opacity: 80%;
  }

  div.shop_card:hover{
    transform: scale(1.03);
  }
</style>
