<template>
  <div id="main">

    <navdel></navdel>

    <!--Product preview section-->
    <prod-preview></prod-preview>


    <!--Shops-->
    <div class="container">

      <!--Search-->
      <form class="search">
        <input class="form-control" type="search" placeholder="Название или продукт" aria-label="Search">
      </form>


      <!--Shop list-->
      <h3>Рестораны</h3>
      <!--First row-->

      <div class="row shop-row">

        <shop @click.native="enterShop()"></shop>
        <shop @click.native="enterShop()"></shop>
        <shop @click.native="enterShop()"></shop>

      </div>

      <!--Second row-->
      <div class="row shop-row">

        <shop @click.native="enterShop()"></shop>
        <shop @click.native="enterShop()"></shop>
        <shop @click.native="enterShop()"></shop>

      </div>

      <!--Third row-->
      <div class="row shop-row">

        <shop @click.native="enterShop()"></shop>
        <shop @click.native="enterShop()"></shop>
        <shop @click.native="enterShop()"></shop>

      </div>

      <button type="button" class="btn btn-outline-info btn-block more">Показать еще</button>

    </div>


    <!--Footer section-->
    <footerdel></footerdel>
  </div>
</template>

<script>

  import Shop from './main_components/Shop'
  import Navbar from './main_components/Navbar'
  import ProductPreview from './main_components/ProductPreview'
  import Footer from './main_components/Footer'

  export default {
    name: 'app',
    components: {
      'shop':Shop,
      'navdel':Navbar,
      'prod-preview':ProductPreview,
      'footerdel':Footer
    },
    data () {
      return {
        msg: ''
      }
    },
    methods: {
      // enter the shop page
      enterShop: function () {
        this.$router.push({name: 'Shop'})
      }
    }
  }
</script>



<style scoped>

    div.container{
      margin-top: 15px;
      margin-bottom: 30px;
    }

    /*Search*/
    .search{
      margin-top: 30px;
      margin-bottom: 30px;
    }


    /*Shops*/
    div.shop-row{
      padding: 10px;
    }


    /*Footer style*/
    body {
        background: #fbfbfd;
        height: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #4b505e;
    }


</style>
