<template>

  <div id="shop-pg">
    <navdel></navdel>

    <!--Shop cart-->
    <modal name="shopCart">
      <h4 class="card-header" style="text-align: center">Корзина</h4>
      <div style="overflow-y: scroll;">
        <ul>
          <li v-for="item in cartItems">{{item.title}}</li>
        </ul>
      </div>
    </modal>

    <!--Products-->
    <div class="container">

      <!--Search-->
      <form class="search">
        <input class="form-control" type="search" placeholder="Название или продукт" aria-label="Search">
      </form>

      <!--First row-->

      <div class="row shop-row">

        <product-card @add-to-cart="addItem" class="col-4 align-self-center" v-for="j in products.length" :item="products[j]"> </product-card>

      </div>


      <button type="button" class="btn btn-outline-info btn-block more">Показать еще</button>

    </div>

    <footerdel></footerdel>
  </div>

</template>

<script>

  import Shop from './main_components/Shop'
  import Navbar from './main_components/Navbar'
  import ProductPreview from './main_components/ProductPreview'
  import Footer from './main_components/Footer'
  import Product from "./main_components/Product";

  export default {
    name: 'shop-page',
    components: {
      'shop':Shop,
      'navdel':Navbar,
      'prod-preview':ProductPreview,
      'footerdel':Footer,
      'product-card':Product
    },
    data () {
      return {
        msg: '',
        products:[
          {id: 1, title: 'Молоко', price: 180},
          {id: 2, title: 'Сок', price: 200},
          {id: 3, title: 'Шоколад', price: 360},
          {id: 4, title: 'Чипсы', price: 180},
          {id: 5, title: 'Вода', price: 200},
          {id: 6, title: 'Мясо', price: 360},
          {id: 7, title: 'Бургер', price: 180},
          {id: 8, title: 'Пицца', price: 200},
          {id: 9, title: 'Суши', price: 360}
        ],
        cartItems: []
      }
    },
    methods:{
      addItem(item){
        this.cartItems.push(item);
        console.log(item.title)
      }
    }
  }
</script>

<style scoped>
    div.container{
      margin-top: 15px;
      margin-bottom: 30px;
    }

    /*Search*/
    .search{
      margin-top: 30px;
      margin-bottom: 30px;
    }


    /*Shops*/
    div.shop-row{
      padding: 10px;
    }

    /*Footer style*/
    body {
        background: #fbfbfd;
        height: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #4b505e;
    }

</style>
