<template>
  <div id="main">

      <router-view></router-view>

  </div>
</template>

<script>
  export default {
    name: 'main',
    data () {
      return {
        msg: ''
      }
    }
  }
</script>



<style>


</style>
